.container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.form input {
  margin: 5px;
  padding: 8px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

.delete {
  background-color: red;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}